{
    "appUrl": "APP_URL",
    "authUrl": "AUTH_URL",
    "clientID": "CLIENT_ID",
    "clientSecret": "CLIENT_SECRET",
    "username": "USER_EMAIL",
    "password": "USER_PASSWORD",
    "noSDMRoleUsername": "USER_EMAIL",
    "noSDMRoleUserPassword": "USER_PASSWORD",

    "appUrlMT": "APP_URL_MT",
    "authUrlMTSDC": "AUTH_URL_MT_SDC",
    "authUrlMTGWC": "AUTH_URL_MT_GWC",
    "clientIDMT": "CLIENT_ID_MT",
    "clientSecretMT": "CLIENT_SECRET_MT",

    "versionedRepositoryID": "VERSIONED-REPO",
    "virusScanRepositoryID": "VIRUS-SCAN-REPO",
    "defaultRepositoryID": "SAMPLE-REPO",
    "defaultRepositoryIDMT": "MULTITENANT-TEST-REPO",

    "CMIS_URL": "CMIS_URL",
    "cmisClientID": "CMIS_CLIENT_ID",
    "cmisClientSecret": "CMIS_CLIENT_SECRET",
    "cmisClientIDMT": "CMIS_CLIENT_ID_MT",
    "cmisClientSecretMT": "CMIS_CLIENT_SECRET_MT",

    "consumerSubaccountIdMT1": "CONSUMER_SUBACCOUNT_ID_MT1",
    "consumerSubdomainMT1": "CONSUMER_SUBDOMAIN_MT1",
    "consumerSubaccountIdMT2": "CONSUMER_SUBACCOUNT_ID_MT2",
    "consumerSubdomainMT2": "CONSUMER_SUBDOMAIN_MT2",

    "SAAS_APP_NAME": "SAAS_APP_NAME",
    "ROLE_COLLECTION_NAME": "ROLE_COLLECTION_NAME",
    "APP_ROLE_FILTER": "APP_ROLE_FILTER",

    "BTP_CLI_URL": "BTP_CLI_URL",
    "BTP_GLOBAL_ACCOUNT_SUBDOMAIN": "BTP_GLOBAL_ACCOUNT_SUBDOMAIN",

    "APP_NAME": "incidents-srv",
    "MT_APP_NAME": "incidents-mtx-srv"
}
